@model VyatkinSchool.Models.MessageItem
@{
    ViewBag.Title = "Сообщение успешно изменено";
}

<div id="page">
    <div class="container">
        <div class="title">
            <h2>@ViewBag.Title.</h2>
        </div>

        <a href="@Url.Action("Edit", "Message", new { @Model.Id })" class="btn btn-primary">
            Продолжить редактировать
            <span class="glyphicon glyphicon-edit" aria-hidden="true"></span>
        </a>

        <a href="@Url.Action("List", "Message")" class="btn btn-primary">
            Перейти к списку сообщений
            <span class="glyphicon glyphicon-circle-arrow-left" aria-hidden="true"></span>
        </a>

        <h2>@Model.Date @Model.Title</h2>

        <div class="box">
            <p>@Html.Raw(Model.MessageText)<p>
                @if (Model.ImageId != null)
                {
                <p><img src='@Url.Action("ShowImageForGalleryItem", "Image", new { id = Model.ImageId})' /></p>
                }
            </div>

        </div>
    </div>

    @section Scripts {
        @Scripts.Render("~/bundles/jqueryval")
    }


