@model VyatkinSchool.Models.MessageItem
@{
    ViewBag.Title = @Model.Date + @Model.Title;
}

<div id="page">
    <div class="container">
        <div class="title">
            <h4><b>@Model.Date</b> @Model.Title.</h4>
        </div>

         <div class="box">
             <table border="0" align="center" cellpadding="15" cellspacing="0">
                 <tr>
                     <td align="left" width="100%">
                         @Html.Raw(Model.MessageText)
                     </td>
                 </tr>
                 <tr>
                     <td align="center" width="100%">
                         @if (Model.ImageId != null)
                         {
                             <img  width ="900" src='@Url.Action("ShowImageForGalleryItem", "Image", new { id = Model.ImageId})' />
                         }
                     </td>
                 </tr>
            </table>
        </div>
    </div>
</div>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
