@model VyatkinSchool.Models.GalleryItem
@{
    ViewBag.Title = "Изображение успешно отредактированно";
}

<div id="page">
    <div class="container">
        <div class="title">
            <h2>@ViewBag.Title.</h2>
        </div>

        <hr />
        <a href="@Url.Action("Add", "Gallery")" class="btn btn-primary">
            Добавить новое изображение
            <span class="glyphicon glyphicon-plus-sign" aria-hidden="true"></span>
        </a>

        <a href="@Url.Action("Show", "Gallery")" class="btn btn-primary">
            Перейти к галлереи
            <span class="glyphicon glyphicon-arrow-right" aria-hidden="true"></span>
        </a>

        <a href="@Url.Action("List", "Gallery")" class="btn btn-primary">
            Перейти к списку изображений
            <span class="glyphicon glyphicon-arrow-right" aria-hidden="true"></span>
        </a>
        <hr />

        <table border="0" align="center" cellpadding="5" cellspacing="0">
            <tr>
                <td align="right" width="40%">Изображение находится в альбоме:</td>
                <td align="left" width="60%">
                    @ViewBag.GroupName
                </td>
            </tr>
            <tr>
                <td align="right" width="40%"><strong>Заголовок:</strong></td>
                <td align="left" width="60%">@Html.DisplayTextFor(x => x.Title)</td>
            </tr>
            <tr>
                <td align="right" width="40%"><strong>Описание:</strong></td>
                <td align="left" width="60%">@Html.DisplayTextFor(x => x.Description)</td>
            </tr>
            <tr align="center">
                <td colspan="2" align="center">
                    <p><img width="600" src='@Url.Action("show", "Image", new { id = Model.ImageId })' /></p>
                </td>
            </tr>

        </table>

    </div>
</div>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}

