@using Microsoft.AspNet.Identity
@model VyatkinSchool.Models.VideoFileItem
@{
    ViewBag.Title = "Просмотр видео";
}

<div id="page">
    <div class="container">
        <div class="title">
            <h2>@ViewBag.Title.</h2>
        </div>

        @if (Request.IsAuthenticated)
        {
            <hr />
            <a href="@Url.Action("Show", "Video")" class="btn btn-primary">
                Перейти к разделу "Видео"
                <span class="glyphicon glyphicon-arrow-right" aria-hidden="true"></span>
            </a>

            <a href="@Url.Action("List", "Video")" class="btn btn-primary">
                Перейти к списку видео
                <span class="glyphicon glyphicon-arrow-right" aria-hidden="true"></span>
            </a>
        }

        <table border="0" align="center" cellpadding="5" cellspacing="0">
            <tr>
                <td width="40%">Заголовок:</td>
                <td width="60%">@Model.Title</td>
            </tr>
            <tr>
                <td width="40%">Описание:</td>
                <td width="60%">@Model.Description</td>
            </tr>
        </table>

        <table border="0" align="center" cellpadding="5" cellspacing="0">
            <tr>
                <td align="left">
                    <div class="video-frame">
                        <video style="width:100%; height:auto;" controls>
                            <source src="@Url.Content(@Model.FilePath)" type="video/mp4" />
                        </video>
                    </div>
                </td>
            </tr>
        </table>

        <table border="0" align="center" cellpadding="5" cellspacing="0">
            <tr>
                <td width="40%">Скачать:</td>
                <td width="60%">
                    <a href="@Url.Action("VideoFile", "Video", new { id = @Model.Id })" class="btn btn-primary">
                        Скачать файл
                        <span class="glyphicon glyphicon-download" aria-hidden="true"></span>
                    </a>
                </td>
            </tr>
        </table>

    </div>
</div>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}











