@model VyatkinSchool.Models.GalleryPage

@using PagedList.Mvc; 
@using PagedList; 

<div id="page">
    <div class="container">
        <div class="title">
            <h2>ГАЛЛЕРЕЯ</h2>
            <p>Фото и видео занятий и соревнований.</p>
            @if (ViewBag.isAdminLogedOn)
            {
                <a href="@Url.Action("AddImageGroup", "Home")" class="btn btn-primary">
                    Создать альбом
                    <span class="glyphicon glyphicon-plus-sign" aria-hidden="true"></span>
                </a>

                <a href="@Url.Action("AddImage", "Home")" class="btn btn-primary">
                    Добавить изображение
                    <span class="glyphicon glyphicon-plus-sign" aria-hidden="true"></span>
                </a>
            }
            <table width="100%" border="0" align="center" cellpadding="2" cellspacing="0">
                <tr>
                    <td align="center">
                        @Html.PagedListPager((IPagedList)ViewBag.OnePageOfPictures, page => Url.Action("Gallery", new { page }))
                    </td>
                </tr>
            </table>

            <div class="box">
                
                @foreach (var pictureGroup in ViewBag.OnePageOfPictures)
                {
                    <p>Альбом: <strong>[@pictureGroup.GroupName]</strong></p>
                    <div id="carouselId" class="carousel slide" data-ride="carousel" style="position:relative;z-index:1;">
                        <ol class="carousel-indicators" style="z-index:1 !important">
                            @for (int galleryItemIndex = 0; galleryItemIndex < @Model.GetGalleryItemsCount(pictureGroup.ID); galleryItemIndex++)
                            {
                                if (galleryItemIndex == 0)
                                {
                                    <li data-target="#carouselId" data-slide-to="@galleryItemIndex" class="active"></li>
                                }
                                else
                                {
                                    <li data-target="#carouselId" data-slide-to="@galleryItemIndex"></li>
                                }
                            }
                        </ol>
                        <div class="carousel-inner" role="listbox">
                            @for (int galleryItemIndex = 0; galleryItemIndex < Model.GetGalleryItemsCount(pictureGroup.ID); galleryItemIndex++)
                            {
                                var galleryItem = @Model.GetGalleryItem(pictureGroup.ID, galleryItemIndex);
                                var classItem = (galleryItemIndex == 0) ? "item active" : "item";
                                <div class="@classItem">
                                    <img class="d-block w-100" src="@String.Format("data:image/png;base64,{0}", Convert.ToBase64String(galleryItem.Image))" alt="@galleryItem.Title.Trim(' ')" style="width:100%;">
                                    <div class="carousel-caption">
                                        <h3>@galleryItem.Title.Trim(' ')</h3>
                                        <p>@galleryItem.Description.Trim(' ')</p>
                                    </div>
                                </div>
                            }
                        </div>
                    </div>
                }
            </div>

            <table width="100%" border="0" align="center" cellpadding="2" cellspacing="0">
                <tr>
                    <td align="center">
                        @Html.PagedListPager((IPagedList)ViewBag.OnePageOfPictures, page => Url.Action("Gallery", new { page }))
                    </td>
                </tr>
            </table>
        </div>
    </div>
</div>


