@model VyatkinSchool.Models.ImageCreated

@{
    ViewBag.Title = "ImageCreated";
}

<!DOCTYPE html>
<html>
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <title>Школа борьбы: Добавление изображения</title>
    <meta name="keywords" content="" />
    <meta name="description" content="" />
    @using System.Web.Optimization

    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/jqueryval")
    @Scripts.Render("~/bundles/modernizr")
    @Scripts.Render("~/bundles/bootstrap")
    @Styles.Render("~/Content/css")

</head>

<body>
    @Html.Partial("NavBarView")

    <div id="page">
        <div class="container">
            <div class="title">
                <h2>Добавление изображения</h2>
                <a href="@Url.Action("AddImage", "Home")" class="btn btn-primary">
                    Добавить ещё одно изображение
                    <span class="glyphicon glyphicon-plus-sign" aria-hidden="true"></span>
                </a>
                <a href="@Url.Action("Gallery", "Home")" class="btn btn-primary">
                    Перейти к галлереи
                    <span class="glyphicon glyphicon-arrow-right" aria-hidden="true"></span>
                </a>
                <p>Изображение добавленно в альбом <strong>[@Model.Group.GroupName]</strong> успешно.</p>
                <div class="box">
                    <p><img src='@Url.Action("show", "Image", new { id = Model.ImageId })' /></p>

                </div>
            </div>
        </div>
    </div>


    @Html.Partial("Footer")
</body>
</html>
