@model VyatkinSchool.Models.Message

<div class="box">
    <img src='@Url.Action("show", "Image", new { id = Model.ImageId })' width="300"  hspace="5" alt=""/>
    <div class="details">
        <p><strong>@Model.Date</strong></p>
        <p>@Model.Title</p>
    </div>
    <a href="@Url.Action("ShowMessage", "Home", new {id = @Model.Id })" class="button">@Resources.Message.MoreDetails</a>
</div>
