@model VyatkinSchool.Models.News

@using PagedList.Mvc;
@using PagedList;
 
<div id="page">
    <div class="container">
        @if (ViewBag.isAdminLogedOn)
        { 
            <a href="@Url.Action("AddMessage", "Home")" class="btn btn-primary">
                Создать сообщение
                <span class="glyphicon glyphicon-plus-sign" aria-hidden="true"></span>
            </a>
        }

        <div class="title">
            <h2>Добро пожаловать на сайт Школы Вольной Борьбы - Олега Вяткина</h2>
            <p>На этом ресурсе распологается контактная информация о Школе Борбы. Успехах её воспитанников.</p>
        </div>

        <table width="100%" border="0" align="center" cellpadding="2" cellspacing="0">
            <tr>
                <td align="center">
                    @Html.PagedListPager((IPagedList)@Model.OnePageOfMessages, page => Url.Action("Index", new { page }))
                </td>
            </tr>
        </table>

        <div class="boxA">
            @if (Model.IsTopLeftExist())
            {
                @Html.Partial("Message", @Model.TopLeft())
            }

            @if (Model.IsBottomLeftExist())
            {
                @Html.Partial("Message", @Model.BottomLeft())
            }
        </div>
        <div class="boxB">
            @if (Model.IsTopCenterExist())
            {
                @Html.Partial("Message", @Model.TopCenter())
            }

            @if (Model.IsBottomCenterExist())
            {
                @Html.Partial("Message", @Model.BottomCenter())
            }
        </div>
        <div class="boxC">
            @if (Model.IsTopRightExist())
            {
                @Html.Partial("Message", @Model.TopRight())
            }

            @if (Model.IsBottomRightExist())
            {
                @Html.Partial("Message", @Model.BottomRight())
            }
        </div>

        <table width="100%" border="0" align="center" cellpadding="2" cellspacing="0">
            <tr>
                <td align="center">
                    @Html.PagedListPager((IPagedList)@Model.OnePageOfMessages, page => Url.Action("Index", new { page }))
                </td>
            </tr>
        </table>

    </div>
</div>
